In [24]:
def increment(count):
    count += 1 
    return count

In [25]:
count = 0

for _ in range(10):
    count = increment(count)
    print(count)

1
2
3
4
5
6
7
8
9
10

In [49]:
def make_counter(count = [0]):
    count[0] += 1
    
    return count[0]

In [51]:
make_counter()
make_counter()
make_counter()
make_counter()

5

In [52]:
# Exemple 1 : Entier (objet immuable)
x = 10
print("Avant (int) :", x, "→ id =", id(x))

x += 1  # Crée un nouvel objet
print("Après  (int) :", x, "→ id =", id(x))

print("-" * 40)

# Exemple 2 : Liste (objet mutable)
lst = [1, 2, 3]
print("Avant (list) :", lst, "→ id =", id(lst))

lst += [4]  # Modifie l'objet existant
print("Après  (list) :", lst, "→ id =", id(lst))

Avant (int) : 10 → id = 4319603576
Après  (int) : 11 → id = 4319603608
----------------------------------------
Avant (list) : [1, 2, 3] → id = 4486871552
Après  (list) : [1, 2, 3, 4] → id = 4486871552

1. Créer une liste contenant les carrés des nombres pairs de 0 à 20.
2. Transformer une liste de chaînes en leur longueur (`["chat", "chien"] → [4, 5]`).
3. Créer une liste des voyelles présentes dans une phrase sans doublons.
4. À partir d'un dictionnaire `{nom: note}`, générer une liste des élèves admis (note >= 10).

In [62]:
squares = [ n**2 for n in range(1, 21 ) ]
"".join( f"{n} " for n in squares).strip()

'1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400'

In [63]:
[ len(ch) for ch in ["chat", "chien"]]

[4, 5]

In [65]:
" ".join( ch for ch in "bonjour tout le monde" if ch in 'aeiouy')

'o o u o u e o e'

In [66]:
students = {
    "Alice": 15,
    "Bob": 9,
    "Charlie": 12,
    "Diana": 18,
    "Ethan": 7
}

[ name for name in students if students[name] >= 10 ]

['Alice', 'Charlie', 'Diana']

1. À partir d'une liste de 10 éléments, afficher :

   * les 3 premiers éléments,
   * les 3 derniers,
   * un élément sur deux.
2. Inverser une chaîne de caractères en une ligne grâce au slicing.
3. Extraire le mot `"Python"` de la chaîne `"Je code en Python tous les jours"`.
4. Supprimer les éléments d'indice pair d'une liste donnée.
5. Créer une copie d'une liste, modifier la copie, et vérifier que l'originale n'est pas affectée.

In [67]:
students = [
    ("Alice", 15),
    ("Bob", 9),
    ("Charlie", 12),
    ("Diana", 18),
    ("Ethan", 7),
    ("Fiona", 14),
    ("Gabriel", 11),
    ("Hugo", 8),
    ("Inès", 16),
    ("Jules", 10)
]

students[:3]

[('Alice', 15), ('Bob', 9), ('Charlie', 12)]

In [69]:
students[-3:]

[('Hugo', 8), ('Inès', 16), ('Jules', 10)]

In [70]:
students[::2]

[('Alice', 15), ('Charlie', 12), ('Ethan', 7), ('Gabriel', 11), ('Inès', 16)]

In [71]:
students[::-1]

[('Jules', 10),
 ('Inès', 16),
 ('Hugo', 8),
 ('Gabriel', 11),
 ('Fiona', 14),
 ('Ethan', 7),
 ('Diana', 18),
 ('Charlie', 12),
 ('Bob', 9),
 ('Alice', 15)]

In [72]:
del students[::2]

In [73]:
students

[('Bob', 9), ('Diana', 18), ('Fiona', 14), ('Hugo', 8), ('Jules', 10)]

In [74]:
st = students[:]

st[0] = ('Michel', 10 )

In [75]:
st

[('Michel', 10), ('Diana', 18), ('Fiona', 14), ('Hugo', 8), ('Jules', 10)]

In [76]:
students

[('Bob', 9), ('Diana', 18), ('Fiona', 14), ('Hugo', 8), ('Jules', 10)]

In [78]:
"Python" in "Je code en Python tous les jours"

False

In [82]:
len_seq = len("Python")

[ word for word in "Je code en Python tous les jours".split(" ") if word == "Python" ]

['Python']

In [89]:
sentence = "Je code en Python tous les jours"
target = "Python"

n = len(target)

for i in range(len(sentence) - n + 1):
    if sentence[i:i+n] == target:
        print(f"Mot {target} trouvé à la position {i}")
        break
else:
    print("Mot non trouvé")

Mot Python trouvé à la position 11